<footer id="footer" data-footer-style="5">
    <!-- Main footer -->
    <div class="main-footer">
        <div class="container pt-40">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-3 mb-30">
                    <div class="">
                        <h4 data-role="title" class="simple-title">Quick Links</h4>
                        <ul class="menu">
                            <li><a asp-controller="about-us" asp-action="index" class="ng-star-inserted"><span>About Us</span></a></li>
                            <li><a asp-controller="faq" asp-action="index" class="ng-star-inserted"><span>FAQ</span></a></li>
                            <li><a asp-controller="terms-and-conditions" asp-action="index" class="ng-star-inserted"><span>Terms and Conditions</span></a></li>
                            <li><a asp-controller="privacy-policy" asp-action="index" class="ng-star-inserted"><span>Privacy policy</span></a></li>
                            <li><a asp-controller="contact-us" asp-action="index" class="ng-star-inserted"><span>Contact Us</span></a></li>
                        </ul>
                    </div>
                </div>
                <!--/ col-sm-6 col-md-6 col-lg-3 mb-30 -->

                <div class="col-sm-6 col-md-6 col-lg-3 mb-30">
                    <div class="">
                        <h4 data-role="title" class="simple-title">Top Destinations</h4>
                        <ul class="menu">
                            <li><a asp-controller="about-us" asp-action="index" class="ng-star-inserted"><span>Flights to Amsterdam</span></a></li>
                            <li><a asp-controller="faq" asp-action="index" class="ng-star-inserted"><span>Flights to Toronto</span></a></li>
                            <li><a asp-controller="terms-and-conditions" asp-action="index" class="ng-star-inserted"><span>Flights to Madrid</span></a></li>
                            <li><a asp-controller="privacy-policy" asp-action="index" class="ng-star-inserted"><span>Flights to Paris</span></a></li>
                            <li><a asp-controller="contact-us" asp-action="index" class="ng-star-inserted"><span>Flights to London</span></a></li>
                        </ul>
                    </div>
                </div>
                <!--/ col-sm-6 col-md-6 col-lg-3 mb-30 -->

                <div class="col-sm-6 col-md-6 col-lg-3 mb-30">
                    <div class="">
                        <h4 data-role="title" class="simple-title">Special Deals</h4>
                        <ul class="menu">
                            <li><a asp-controller="flights-under-199" asp-action="index" class="ng-star-inserted"><span>Flights Under $199</span></a></li>
                            <li><a asp-controller="flights-under-99" asp-action="index" class="ng-star-inserted"><span>Flights Under $99</span></a></li>
                            <li><a asp-controller="family-travel" asp-action="index" class="ng-star-inserted"><span>Family Travel Offer</span></a></li>
                            <li><a asp-controller="last-minute-deals" asp-action="index" class="ng-star-inserted"><span>Last Minute Flight Deals</span></a></li>
                            <li><a asp-controller="businessclass" asp-action="index" class="ng-star-inserted"><span>Business Class Flights</span></a></li>
                        </ul>
                    </div>
                </div>
                <!--/ col-sm-6 col-md-6 col-lg-2 mb-30 -->

                <div class="col-sm-6 col-md-6 col-lg-3 mb-30">
                    <div class="mb-30">
                        <h4 data-role="title" class="simple-title">Get in touch</h4>

                        <div class="contact-details">
                            <p>
                                <strong><a href="tel:<%=data.contact_us%>"><%=data.contact_us%></a></strong><br>
                                Email: <a href="mailto:admin@gmail.com">admin@admin.com</a>
                            </p>

                            <p>
                                Suite 06 Unit1 Dotlink House, Liberty Centre, Mount Pleasant, Wembley, HA0 1TX
                            </p>
                        </div>
                    </div>


                </div>
                <!--/ col-sm-6 col-md-6 col-lg-4 mb-30 -->
            </div>
        </div>
    </div>
    <!--/ Main footer -->

</footer>

<footer>

    <div class="footer-last">
        <div class="container">
            <div class="row d-flex">
                <div class="col-lg-12 col-12">
                    <div class="ng-star-inserted">
                        <p class="ng-star-inserted"><span>Disclaimer : CheapfaresUS is an independent online travel portal and has no association with any third party. By accessing CheapfaresUS, you acknowledge that CheapfaresUS is not responsible for any loss, however, caused, by the use of any of the content, offers, or links to other sites embedded on this website. For any query or feedback, you can email us at @Constraint.Email.</span></p>

                        <div class="footerETLinks hidden-xs ng-star-inserted">
                            <a href="#" class="ng-star-inserted"><span>Traveller Tool : </span></a>
                            <a asp-controller="online-check-in" asp-action="index" class="ng-star-inserted"><span>Online Check-in</span></a>
                            <a asp-controller="airlines-contact" asp-action="index" class="ng-star-inserted"><span>Airlines Contact</span></a>
                            <a asp-controller="contact-us" asp-action="index" class="ng-star-inserted"><span>Customer Support</span></a>

                        </div>

                        <ul class="footerlist-inline mb-5 ng-star-inserted">
                            <li class="list-inline-item ng-star-inserted"><img src="https://s3.amazonaws.com/tripproimages/sites/themes/Visa_Inc._logo.svg"></li>
                            <li class="list-inline-item ng-star-inserted"><img src="https://s3.amazonaws.com/tripproimages/sites/themes/mc_hrz_pos.svg"></li>
                            <li class="list-inline-item ng-star-inserted"><img src="https://s3.amazonaws.com/tripproimages/sites/themes/American_Express_logo_(2018).svg"></li>
                            <li class="list-inline-item ng-star-inserted"><img src="https://s3.amazonaws.com/tripproimages/sites/themes/geotrust-logo-svg-vector.svg"></li>
                            <li class="list-inline-item ng-star-inserted"><img src="https://s3.amazonaws.com/tripproimages/sites/themes/truste-seeklogo.svg"></li>

                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </div>
    
    <div class="container">

        <div class="copyright pt-2 pb-2">
            © Copyright 2022  <a href="https://www.cheapfaresus.com/" style="color: #115699">Cheapfaresus.com</a>. All Rights Reserved.
        </div>
    </div>
</footer>
<!-- Cookie Banner -->
<div class="nk-cookie-banner alert alert-warning text-center mb-0" role="alert">
    &#x1F36A; This website uses cookies to ensure you get the best experience on our website.
    <a asp-controller="privacy-policy" asp-action="index" target="blank" style="color:#f2bd07">Learn More...</a>

    <button type="button" class="btn btn-primary btn-sm ml-3" onclick="window.nk_hideCookieBanner()">
        Accept
    </button>
</div>
<!-- End of Cookie Banner -->


<div _ngcontent-mcj-c259="" class="need-help-booking border-primary web-block">
    <div _ngcontent-mcj-c259="" data-toggle="collapse" data-target="#needhelp-body" class="nhb-head d-flex px-3 collapsed">
        <span _ngcontent-mcj-c259="" class="f-18 font-weight-500 my-auto text-white">
            Need help in Booking?
        </span>
        <span _ngcontent-mcj-c259="" class="ml-auto f-24 font-weight-bold font-weight-bold text-white">
            <i _ngcontent-mcj-c259="" aria-hidden="true" class="fa fa-angle-down">
            </i>
        </span>
    </div>
    <div _ngcontent-mcj-c259="" id="needhelp-body" class="nhb-body p-3 collapse" style="">
        <h4 _ngcontent-mcj-c259="" class="f-16 font-weight-600 mb-3">
            Call our Travel expert for:
        </h4>
        <div _ngcontent-mcj-c259="" class="d-flex mb-2 f-13 ng-star-inserted">
            <div _ngcontent-mcj-c259="" class="pr-1">
                <span _ngcontent-mcj-c259="" class="text-primary">
                    <i _ngcontent-mcj-c259="" aria-hidden="true" class="fa fa-check">
                    </i>
                </span>
            </div>
            <div _ngcontent-mcj-c259="">
                <span _ngcontent-mcj-c259="" class="f-13">
                    Help getting Hidden Fares
                </span>
            </div>
        </div>
        <div _ngcontent-mcj-c259="" class="d-flex mb-2 f-13 ng-star-inserted">
            <div _ngcontent-mcj-c259="" class="pr-1">
                <span _ngcontent-mcj-c259="" class="text-primary">
                    <i _ngcontent-mcj-c259="" aria-hidden="true" class="fa fa-check">
                    </i>
                </span>
            </div>
            <div _ngcontent-mcj-c259="">
                <span _ngcontent-mcj-c259="" class="f-13">
                    Save Time on researching Deals
                </span>
            </div>
        </div>
        <div _ngcontent-mcj-c259="" class="d-flex mb-2 f-13 ng-star-inserted">
            <div _ngcontent-mcj-c259="" class="pr-1">
                <span _ngcontent-mcj-c259="" class="text-primary">
                    <i _ngcontent-mcj-c259="" aria-hidden="true" class="fa fa-check">
                    </i>
                </span>
            </div>
            <div _ngcontent-mcj-c259="">
                <span _ngcontent-mcj-c259="" class="f-13">
                    24/7 Ongoing Customer Support
                </span>
            </div>
        </div>
        <!---->
        <div _ngcontent-mcj-c259="" class="d-flex my-4">
            <div _ngcontent-mcj-c259="" class="pr-2 my-auto">
                <span _ngcontent-mcj-c259="" class="f-28 text-primary">
                    <i _ngcontent-mcj-c259="" aria-hidden="true" class="fa fa-phone">
                    </i>
                </span>
            </div>
            <div _ngcontent-mcj-c259="" class="d-flex flex-column lh1-2">
                <span _ngcontent-mcj-c259="" class="f-14">
                    Call us now on
                </span>
                <a _ngcontent-mcj-c259="" href="tel:<%=data.contact_us%>">
                    <span _ngcontent-mcj-c259="" class="f-24 font-weight-bold text-primary">
                       <%=data.contact_us%>
                    <sup _ngcontent-mcj-c259="" style="top: -0.5em;">
                        *
                    </sup>
                </span>
            </a>
        </div>
    </div>
    <div _ngcontent-mcj-c259="" class="d-flex mt-2">
        <span _ngcontent-mcj-c259="" class="f-12">
            <i _ngcontent-mcj-c259="" aria-hidden="true" class="fa fa-circle text-green mr-1">
            </i>&nbsp;
            <span _ngcontent-mcj-c259="" class="f-12">
                Agents available to handle your calls
            </span>
        </span>
    </div>
</div>
</div>


<style>

    .footer-last {
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid #1a202e;
    }

    .footerETLinks {
        float: none;
        margin: 0 auto;
        clear: both;
        width: 100%;
        max-width: 900px;
        font-weight: 700;
        text-align: center;
        padding: 10px;
        font-size: 11px;
        color: #1a202e;
    }

    .footer-last p {
        text-align: center;
        padding: 10px;
        color: #707070;
        margin-bottom: 0;
    }

    .footer-last .footerETLinks a {
        text-decoration: none;
        color: #1a202e !important;
        margin: 0 15px;
        cursor: pointer;
        font-size: 14px;
        text-transform: uppercase;
        width: auto;
        display: inline-block;
    }

    .footer-last .footerETLinks {
        margin: 10px 0 5px;
        width: 100%;
        text-align: center;
        max-width: 100%;
        padding: 10px;
        font-size: 11px;
        color: #1a202e;
        font-weight: 700;
    }

    .footer-last .footerETLinks {
        margin: 10px 0 5px;
        width: 100%;
        text-align: center;
        max-width: 100%;
    }

    .footerlist-inline {
        text-align: center;
    }

    .list-inline-item:not(:last-child) {
        margin-right: 0.5rem;
    }

    .footerlist-inline img {
        max-width: 120px;
        max-height: 40px;
        width: 100%;
        -o-object-fit: contain;
        object-fit: contain;
    }

    .d-flex {
        display: flex !important;
    }

    .copyright {
        text-align: center;
        color: #242424;
    }

    .f-call .fa {
        background: #fff;
        color: #242424;
        width: 35px;
        height: 35px;
        border-radius: 25px;
        font-weight: bold;
        font-size: 21px;
    }

    .f-call .fa {
        background: #fff;
        color: #242424;
        width: 35px;
        height: 35px;
        border-radius: 25px;
        font-weight: bold;
        font-size: 21px;
    }

    blockquote {
        color: #fff;
        margin: 2px 4px;
    }

    .latest_posts-acc-details {
        font-size: 0.7rem;
    }


    .need-help-booking[_ngcontent-mcj-c259] {
        position: fixed;
        left: 100px;
        bottom: 0px;
        background-color: #fff;
        border: 1px solid;
        width: 300px;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        z-index: 9999;
        border-color: #ee3d3c !important;
    }

        .need-help-booking[_ngcontent-mcj-c259] .nhb-head[_ngcontent-mcj-c259] {
            cursor: pointer;
            padding: 5px 0;
            background-color: #ee3d3c;
        }

    .text-white[_ngcontent-mcj-c259] {
        fill: #fff;
    }

    .text-white {
        fill: #fff;
    }

    .font-weight-500 {
        font-weight: 500 !important;
    }

    .f-18 {
        font-size: 18px;
    }

    .f-24 {
        font-size: 24px;
    }

    .p-3 {
        padding: 1rem !important;
    }

    .text-primary {
        color: #14528f !important;
    }
</style>
