<header id="header" class="site-header cta_button header--is-sticked" data-header-style="3">
    <!-- Header wrapper -->
    <div class="site-header-wrapper">

        <!-- Header Main wrapper -->
        <div class="site-header-main-wrapper">
            <!-- Header Main container -->
            <div class="siteheader-container container-fluid">
                <!-- Header Main -->
                <div class="site-header-row site-header-main d-flex flex-row">
                    <!-- Header Main Left Side -->
                    <div
                        class="site-header-main-left d-flex justify-content-start align-items-center align-self-center">
                        <!-- Logo container-->
                        <div class="logo-container hasInfoCard logosize--yes">
                            <!-- Logo -->
                            <h1 class="site-logo logo" id="logo">
                                <a href="/" title="">
                                    <img src="images/logo.png" class="logo-img" alt="CheapfaresUS"
                                        title="CheapfaresUS" />
                                </a>
                            </h1>
                            <!--/ Logo -->

                        </div>
                        <!--/ logo container-->
                        <!-- Separator -->
                        <div class="separator visible-xxs"></div>
                        <!--/ Separator -->
                    </div>
                    <!--/ .site-header-main-left -->
                    <!-- Header Main Right Side -->
                    <div class="site-header-main-right d-flex justify-content-end align-items-center pl-100">
                        <!-- Main Menu wrapper -->
                        <div class="main-menu-wrapper">
                            <!-- Responsive menu trigger -->
                            <div id="zn-res-menuwrapper">
                                <a href="#" class="zn-res-trigger "></a>
                            </div>
                            <!--/ responsive menu trigger -->
                            <!-- Main menu -->
                            <div id="main-menu" class="main-nav zn_mega_wrapper">
                                <ul id="menu-main-menu" class="main-menu zn_mega_menu">
                                    <li class="menu-item-has-children menu-item-mega-parent">
                                        <a href="/">HOME</a>

                                    </li>
                                    <li class="menu-item-has-children menu-item-mega-parent">
                                        <a href="/flights" class="fw-bold">FLIGHT</a>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="/about-us" class="fw-bold">ABOUT US</a>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="contact-us" class="fw-bold">CONTACT US</a>
                                    </li>

                                </ul>
                            </div>
                            <!--/ Main menu -->
                        </div>
                        <!--/ .main-menu-wrapper -->
                    </div>
                    <!--/ .site-header-main-right -->

                    <div class="site-header-main-right d-flex justify-content-end align-items-center pl-25">
                        <!-- Header Top Left Side -->
                        <div class="site-header-top-left d-flex justify-content-start">

                            <div class="customer-support-top">
                                <a asp-controller="contact-us" asp-action="index">
                                    <img src="images/icon/cust-support-icon.png">
                                    <span>Customer support </span>
                                </a>

                            </div>



                            <div class="clearfix visible-xxs">

                            </div>


                        </div>

                        <div class="site-header-top-left d-flex justify-content-start">


                            <div class="clearfix visible-xxs">

                            </div>


                        </div>

                        <!--/ .site-header-top-left -->
                        <!-- Header Top Right Side -->
                        <div class="site-header-top-right d-flex justify-content-end pull-right">
                            <!-- header search -->
                            <div class="kl-header-toptext align-self-center">

                                <div class="call-now">
                                    <img style="width: 34px; height: 34px; margin-top: 10px;"
                                        src="images/icon/call-icon.png">
                                    <div class="ph-no">
                                        <div class="tl-tp-oph">
                                            <span>Book Online or Call us Now</span>

                                        </div>

                                        <p><a id="headerPhoneNumber" href="tel:<%=data.contact_us%>">
                                               <%=data.contact_us%></a></p>


                                    </div>
                                </div>

                                <!-- <span class="topnav-item--text">CALL: </span>
                                <a href="tel:@Constraint.Contact1" class="fw-bold"></a>
                                <i class="phone-header fas fa-phone ml-5 visible-xs visible-sm visible-md"></i> -->
                            </div>
                            <!--/ header search -->
                        </div>
                        <!--/ .site-header-top-right -->
                    </div>

                </div>
                <!--/ .site-header-row .site-header-main -->
            </div>
            <!--/ .siteheader-container .container -->
        </div>
        <!--/ Header Main wrapper -->
    </div>
    <!--/ Header wrapper -->
</header>