<!doctype html>
<html dir="ltr" lang="en-US" class="no-js">

<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="" />
    <meta name="description" content="">

    <title>CheapfaresUS</title>
    <base href="/">

    <!-- iDevices & Retina Favicons -->
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="images/favicons/apple-touch-icon-72x72-precomposed.png" sizes="72x72" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="images/favicons/apple-touch-icon-114x114-precomposed.png" sizes="114x114" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="images/favicons/apple-touch-icon-144x144-precomposed.png" sizes="144x144" />
    <link rel="apple-touch-icon-precomposed" type="image/x-icon"
        href="images/favicons/apple-touch-icon-precomposed.png" />

    <!--  Desktop Favicons  -->
    <link rel="icon" type="image/png" href="images/favicons/favicon-32x32.png" sizes="32x32">

    <!-- Google Fonts CSS Stylesheet // More here http://www.google.com/fonts#UsePlace:use/Collection:Open+Sans -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,600italic,700,800,800italic"
        rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- ***** Boostrap Custom / Addons Stylesheets ***** -->
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="all">

    <!-- Font Awesome icons library -->
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css" type="text/css" media="all">



    <!-- ***** Main + Responsive & Base sizing CSS Stylesheet ***** -->
    <link rel="stylesheet" href="css/template.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/responsive.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/base-sizing.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/sliders/ios/style.css" type="text/css" media="all">

    <!-- Custom CSS Stylesheet (where you should add your own css rules) -->
    <link rel="stylesheet" href="css/custom.css" type="text/css" />

    <!-- Modernizr Library -->
    <script type="text/javascript" src="js/modernizr.min.js"></script>

    <!-- jQuery Library -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/moment.min.js"></script>
    <script type="text/javascript" src="js/lodash.min.js"></script>
   

    <script>
        // function showPosition() {
        //     if (navigator.geolocation) {
        //         navigator.geolocation.getCurrentPosition(function (position) {
        //             var positionInfo = "Your current position is (" + "Latitude: " + position.coords.latitude + ", " + "Longitude: " + position.coords.longitude + ")";
        //             document.getElementById("result").innerHTML = positionInfo;
        //         });
        //     } else {
        //         alert("Sorry, your browser does not support HTML5 geolocation.");
        //     }
        // }
        // showPosition();
    </script>
    <style>
        #header .pl-100 {
            padding-left: 100px;
        }
    
        #header .pl-25 {
            padding-left: 17% !important;
        }
    
        .site-header[data-header-style="11"] {
            background: rgba(0, 0, 0, 0.65);
            padding: 5px 0;
            box-shadow: 0 -1px 10px #21c6b9;
            position: fixed;
        }
    
        #header .call-now {
            display: flex;
            border-left: none;
            line-height: 10px;
            padding-left: 0;
            position: relative;
            margin-top: 0;
        }
    
        #header .call-now p a {
            color: #e44948;
            font-size: 24px;
            line-height: 24px;
            font-style: normal;
            font-weight: 700;
        }
    
        #header .call-now .ph-no {
            display: block;
            padding-left: 10px;
        }
    
        #header .call-now span {
            color: #000;
            font-size: 13px;
            line-height: 16px;
            font-weight: 600;
        }
    </style>
</head>
<body class="kl-store kl-store-page single-product preloader">
    <div id="page_wrapper">