</div>
<a href="#" id="totop">TOP</a>
<!--/ ToTop trigger -->
<!-- JS FILES // These should be loaded in every page -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/kl-plugins.js"></script>

<!-- JS FILES // Loaded on this page -->
<!-- Requried js script for Slideshow Scroll effect (uncomment bellow script to activate) -->
<!-- <script type="text/javascript" src="js/plugins/scrollme/jquery.scrollme.js"></script> -->
<!-- Required js script for iOS Slider -->
<script type="text/javascript" src="js/plugins/_sliders/ios/jquery.iosslider.min.js"></script>

<!-- Required js trigger for iOS Slider -->
<script type="text/javascript" src="js/trigger/slider/ios/kl-ios-slider.js"></script>

<!-- Slick required js script for Partners Carousel& Screenshot Box Carousel elements -->
<script type="text/javascript" src="js/plugins/_sliders/slick/slick.js"></script>

<!-- Required js trigger for Partners Carousel & Screenshot Box Carousel elements -->
<script type="text/javascript" src="js/trigger/kl-slick-slider.js"></script>

<!-- Custom Kallyas JS codes -->
<script type="text/javascript" src="js/kl-scripts.js"></script>

<!-- Custom user JS codes -->
<script type="text/javascript" src="js/kl-custom.js"></script>
<script src="js/cookie-banner.js"></script>
<script type="text/javascript" src="js/moment.min.js"></script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/634d0b29b0d6371309c9e4d7/1gfif7742';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->
</body>
</html>