<div _ngcontent-mcj-c259="" id="needhelp-body" class="nhb-body p-3 collapse show" style="">
    <h4 _ngcontent-mcj-c259="" class="f-20 font-weight-bold text-primary mb-3">Call our Travel expert for:</h4>
    <div _ngcontent-mcj-c259="" class="d-flex mb-2 f-13 ng-star-inserted">
        <div _ngcontent-mcj-c259="" class="pr-1"><span _ngcontent-mcj-c259="" class="text-primary"><i
                    _ngcontent-mcj-c259="" aria-hidden="true" class="fa fa-check"></i></span></div>
        <div _ngcontent-mcj-c259=""><span _ngcontent-mcj-c259="" class="f-13">Help getting Hidden Fares</span></div>
    </div>
    <div _ngcontent-mcj-c259="" class="d-flex mb-2 f-13 ng-star-inserted">
        <div _ngcontent-mcj-c259="" class="pr-1"><span _ngcontent-mcj-c259="" class="text-primary"><i
                    _ngcontent-mcj-c259="" aria-hidden="true" class="fa fa-check"></i></span></div>
        <div _ngcontent-mcj-c259=""><span _ngcontent-mcj-c259="" class="f-13">Save Time on researching Deals</span>
        </div>
    </div>
    <div _ngcontent-mcj-c259="" class="d-flex mb-2 f-13 ng-star-inserted">
        <div _ngcontent-mcj-c259="" class="pr-1"><span _ngcontent-mcj-c259="" class="text-primary"><i
                    _ngcontent-mcj-c259="" aria-hidden="true" class="fa fa-check"></i></span></div>
        <div _ngcontent-mcj-c259=""><span _ngcontent-mcj-c259="" class="f-13">24/7 Ongoing Customer Support</span></div>
    </div><!---->
    <div _ngcontent-mcj-c259="" class="d-flex my-4">
        <div _ngcontent-mcj-c259="" class="pr-2 my-auto"><span _ngcontent-mcj-c259="" class="f-28 text-primary"><i
                    _ngcontent-mcj-c259="" aria-hidden="true" class="fa fa-phone"></i></span></div>
        <div _ngcontent-mcj-c259="" class="d-flex flex-column lh1-2"><span _ngcontent-mcj-c259="" class="f-14">Call us
                now on</span><a _ngcontent-mcj-c259="" href="tel:<%=data.contact_us%>"><span _ngcontent-mcj-c259=""
                    class="f-24 font-weight-bold text-primary"><%=data.contact_us%> <sup _ngcontent-mcj-c259=""
                        style="top: -0.5em;">*</sup></span></a></div>
    </div>
    <div _ngcontent-mcj-c259="" class="d-flex mt-2"><span _ngcontent-mcj-c259="" class="f-12"><i _ngcontent-mcj-c259=""
                aria-hidden="true" class="fa fa-circle text-green mr-1"></i>&nbsp; <span _ngcontent-mcj-c259=""
                class="f-12">Agents available to handle your calls</span></span></div>
</div>